* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
  overflow: hidden;
  animation: shakebody linear 6s infinite;
}

.sky {
  height: 100vh;
  width: 100%;
  background-image: url("../img/sky2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
}
.trees {
  height: 100vh;
  width: 100%;
  background-image: url(../img/trees.png);
  position: absolute;
  top: -186px;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url("../img/track.png");
  background-repeat: repeat-x;

  position: absolute;
  top: 70vh;
  animation: CarMove linear 13s infinite;
}
.car {
  height: 100px;
  width: 380px;
  background-image: url(../img/car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 66px;
  bottom: 28vh;
  animation: shake linear 0.3s infinite;
}
.wheel1 img {
  width: 77px;
  position: relative;
  top: 39px;
  left: 42px;
  animation: WheelRotation linear 0.3s infinite;
}
.wheel2 img {
  width: 77px;
  position: relative;
  top: -44px;
  left: 233px;
  animation: WheelRotation linear 0.3s infinite;
}
@keyframes WheelRotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes CarMove {
  100% {
    transform: translateX(-500vw);
  }
}
@keyframes shake {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
@keyframes shakebody {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
